<ng-include src="'home/views/navbar.html'"></ng-include>

<div class="mapContainer">
  <div class="map">
    <map zoom="3" on-click="click()" center="{{map.center.longitude}}, {{map.center.latitude}}" street-view-control="false" map-type-id="middleEarth" map-type-control-options="{mapTypeIds: ['middleEarth']}"  disable-default-u-i="true" zoom-control="true" pan-control="true">
      <map-type name="middleEarth" object="middleEarthMapType"></map-type>
      <shape name="polyline" path="{{frodoJourneyCoordinates}}" geodesic="false" stroke-color="#FFFFFF" stroke-opacity="1.0" stroke-weight="5"></shape>
      <marker position="{{markerPosition[0]}}, {{markerPosition[1]}}" icon="../../assets/hobbitSmall.png"></marker>
    </map>
  </div>
</div>
