<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <a ng-if="isAuthenticated()" class="navbar-brand titleNavbar" href="/#/map">
      <img src="../../assets/logo.png"/>
    </a>
    <a ng-if="!isAuthenticated()" class="navbar-brand titleNavbar" href="/#/">
      <img src="../../assets/logo.png"/>
    </a>
    <a href="" ng-click="toggleMenu()"><i class="fa fa-bars fa-4x"></i></a>

  </div>
  <div class="mainMenuOptions">
    <ul ng-if="isAuthenticated()" class="nav navbar-nav">
      <li><a href="/#/map"><i class="ion-map"></i> Map of Middle Earth</a></li>
      <li><a href="#/leaderboard"><i class="fa fa-trophy"></i> Leaderboard</a></li>
      <li ng-if="!user.currentJourney.difficulty"><a href="/#/begin"><i class="fa fa-map-signs"></i> Begin Quest</a></li>
    </ul>
    <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
      <li><a href="/#/login"><i class="fa fa-sign-in"></i> Login / Sign up</a></li>
    </ul>
    <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
      <li><a href="/#/profile"><i class="fa fa-user"></i> Profile</a></li>
      <li ng-if="user.strava"><a href="/#/myRuns"><i class="fa fa-list"></i> My Runs</a></li>
      <li><a href="/#/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </div>
  
  <div class="smallMainMenuOptions">
    <ul ng-if="isAuthenticated()">
      <li><a href="/#/map"><i class="ion-map"></i> Map of Middle Earth</a></li>
      <li><a href="#/leaderboard"><i class="fa fa-trophy"></i> Leaderboard</a></li>
      <li ng-if="!user.currentJourney.difficulty"><a href="/#/begin"><i class="fa fa-map-signs"></i> Begin Quest</a></li>
      <li><a href="/#/profile"><i class="fa fa-user"></i> Profile</a></li>
      <li ng-if="user.strava"><a href="/#/myRuns"><i class="fa fa-list"></i> My Runs</a></li>
      <li><a href="/#/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
    <ul ng-if="!isAuthenticated()">
      <li><a href="/#/login"><i class="fa fa-sign-in"></i> Login / Sign up</a></li>
    </ul>
  </div>
</div>
