<video id="middle-earth-video" class="video" autoplay muted loop>
  <source ng-src="../assets/middleearthmapvideo.mp4" type="video/mp4">
</video>
<div class="videoOverlay">
</div>

<div class="container logInContainer" ng-controller="LoginCtrl as LoginCtrl">
  <div class="row" ng-show = "LoginCtrl.isSelected(1)">
    <div class="center-form panel">
      <div class="titleSignIn">
        <div class="largeTitle">
          <h1>Lord </h1>
          <div class="smallTitle">
            <h4>of</h4><h4>the</h4>
          </div>
          <h1> Running</h1>
        </div>
        <h4>"One does not simply walk into Mordor"</h4>
        <div class="signup-or-separator">
          <hr>
        </div>
      </div>
      <h2 class="text-center">Continue the Quest</h2>
      <form method="post" ng-submit="login()" name="loginForm">
        <div class="form-group has-feedback">
          <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
          <span class="ion-at form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
          <span class="ion-key form-control-feedback"></span>
        </div>

        <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success mainLoginButton">Log in</button>
        <br/>
      </form>
      <a class="stravaLogin" href="" ng-click="authenticate('strava')"><img src="../../assets/LogInWithStrava.png"/></a>
      <br/>

      <br/>

      <div class="signup-or-separator">
        <h6 class="text">or</h6>
        <hr>
      </div>
      <h2>Join the Quest</h2>
      <p class="text-center">Don't have an account yet? <a href="" ng-click="LoginCtrl.selectTab(2)"> Sign Up</a></p>
      <br/>
      <h4><a href="#/preview">Preview Lord of the Running</h4>
      <br/>
    </div>
  </div>


  <div class="row" ng-show = "LoginCtrl.isSelected(2)">
    <div class="center-form panel">
      <div class="titleSignIn">
        <div class="largeTitle">
          <h1>Lord </h1>
          <div class="smallTitle">
            <h4>of</h4><h4>the</h4>
          </div>
          <h1> Running</h1>
        </div>
        <h4>"One does not simply walk into Mordor"</h4>
        <div class="signup-or-separator">
          <hr>
        </div>
      </div>
      <h1 class="text-center">Join the Quest</h1>
      <form method="post" ng-submit="signup()" name="signupForm" ng-controller="SignupCtrl">
        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }">
          <input class="form-control input-lg" type="text" name="displayName" ng-model="displayName" placeholder="Username" required autofocus>
          <span class="ion-person form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error">
            <div ng-message="required">You must enter your username.</div>
          </div>
        </div>


        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
          <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Email" required
          ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
          <span class="ion-at form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
            <div ng-message="required">Your email address is required.</div>
            <div ng-message="pattern">Your email address is invalid.</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
          <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
          <span class="ion-key form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
            <div ng-message="required">Password is required.</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
          <input password-match="password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
          <span class="ion-key form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
            <div ng-message="compareTo">Password must match.</div>
          </div>
        </div>

        <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary mainSignUpButton">Sign up</button>
        <br/>
        <p class="text-center">Already have an account? <a href="" ng-click="LoginCtrl.selectTab(1)">Log in now</a></p>
        <br/>
      </form>
    </div>
  </div>
</div>
