html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #969B6E;
  height: 100vh;
  width: 100%;
  color: #393834; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

a {
  color: #393834; }

/*Remove this when back online*/
.mapContainer img {
  display: block;
  width: 98%;
  margin: auto; }

/*End remove section*/
#middle-earth-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.tagline {
  font-style: italic;
  font-family: 'Cinzel Decorative', cursive; }
  .tagline li {
    padding: 25px 15px 5px 15px; }

map {
  height: 800px;
  width: 98%;
  margin: auto;
  border: 5px solid #444;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.container {
  width: 100%; }

.videoOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover; }

.logInContainer {
  position: absolute;
  height: 100%;
  top: 0px;
  padding-top: 200px;
  text-align: center;
  color: #E1DED7; }
  .logInContainer .center-form {
    background-color: transparent;
    width: 75%; }
  .logInContainer .row {
    position: relative;
    top: 56%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%); }
  .logInContainer h1, .logInContainer h2, .logInContainer h3, .logInContainer h4, .logInContainer h5 {
    font-family: 'Cinzel Decorative', cursive; }
  .logInContainer a {
    color: #E1DED7; }
  .logInContainer p {
    margin: 5px; }
  .logInContainer .form-group {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; }
  .logInContainer .mainLoginButton {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1; }
  .logInContainer .mainSignUpButton {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
    background-color: #718EA1;
    border-color: #718EA1; }
    .logInContainer .mainSignUpButton:hover {
      background-color: #526A7A;
      border-color: #526A7A; }
  .logInContainer .btn-success {
    width: 50%; }

.stravaLogin {
  padding: 10px; }

.middleEarthMap img {
  width: 100%; }

.progressUL {
  list-style: none; }

.profileInfoText {
  display: inline-block; }
  .profileInfoText h2 {
    margin-top: 0; }
  .profileInfoText ul {
    list-style: none; }
  .profileInfoText .btn {
    margin-top: 15px; }

.btn-stravaLink {
  background-color: #FC4C02;
  color: #FFF;
  border: 1px solid #FC4C02;
  border-radius: 2px; }
  .btn-stravaLink:hover {
    background-color: #C93D02;
    border-color: #C93D02;
    color: #FFF; }

.achievementsList {
  display: inline-block;
  list-style: none; }
  .achievementsList li {
    margin-bottom: 5px; }

.leaderboardList {
  display: inline-block;
  list-style: none; }
  .leaderboardList li {
    margin-bottom: 15px; }

.text-muted {
  color: #393834; }

.navbar {
  border: 0;
  margin-bottom: 20px; }

.navbar-header {
  float: left;
  padding-left: 15px; }

.navbar-nav {
  float: left;
  margin: 0; }

.navbar-nav > li {
  float: left; }

.navbar-default .navbar-nav > li > a {
  color: #864D2B;
  padding: 15px; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #444; }

.navbar-default {
  color: #fff;
  background: #DBCDAC;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.navbar-default .navbar-brand {
  color: #fff; }
  .navbar-default .navbar-brand img {
    height: 51px;
    width: auto; }

.navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: #864D2B; }

.navbar-brand {
  padding: 0px;
  margin-left: -15px;
  -webkit-transition: 0.25s all;
          transition: 0.25s all; }

.titleNavbar p {
  font-size: 1.2em;
  margin-bottom: 0;
  display: inline-block; }
.titleNavbar .smallTitleNavbar {
  display: inline-block; }
  .titleNavbar .smallTitleNavbar p {
    font-size: 0.8em; }

.smallMainMenuOptions {
  z-index: -1;
  opacity: 0;
  position: relative;
  top: -400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 500ms ease-in;
          transition: all 500ms ease-in; }
  .smallMainMenuOptions ul {
    list-style: none;
    padding: 10px 5px 10px 5px; }
    .smallMainMenuOptions ul li {
      font-size: 1.5em;
      padding: 15px;
      margin: auto; }
    .smallMainMenuOptions ul a {
      color: #864D2B; }
      .smallMainMenuOptions ul a:hover {
        color: #444;
        text-decoration: none; }

.fa-bars {
  color: #E0DDD6;
  float: right;
  padding: 15px 15px 15px 15px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }

legend {
  border-bottom: 1px solid #444; }

hr {
  height: 1px;
  border: 0px;
  background-color: #444;
  margin: 5px 0px 5px 0px; }

.recentRunContainerKey {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 30px 0px 30px; }
  .recentRunContainerKey div {
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

list-run a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px 10px 30px; }
  list-run a:hover {
    text-decoration: none; }
  list-run a div {
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 10px; }

.beginQuest {
  float: none;
  margin: auto; }
  .beginQuest h2 {
    text-align: center; }
  .beginQuest a {
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
    text-decoration: none; }
    .beginQuest a:hover {
      color: #428bca; }
  .beginQuest .levelContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .beginQuest .levelInfoContainer {
    margin: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    margin-top: 25px;
    border: 3px #393834 solid;
    -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out; }
    .beginQuest .levelInfoContainer:hover {
      background-color: #FFFEFB;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .beginQuest .levelInfoContainer .levelInfo {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      padding: 10px; }
      .beginQuest .levelInfoContainer .levelInfo img {
        height: 150px;
        width: auto; }
    .beginQuest .levelInfoContainer .elf, .beginQuest .levelInfoContainer .man, .beginQuest .levelInfoContainer .dwarf, .beginQuest .levelInfoContainer .hobbit {
      background-image: url(../../assets/the-lord-of-the-rings-vectors-the-fellowship-of-the-ring-nine-companions.png);
      background-repeat: no-repeat;
      margin: auto; }
    .beginQuest .levelInfoContainer .wizard {
      background-image: url(../../assets/the-hobbit-vectors-main-characters.png);
      background-repeat: no-repeat;
      margin: auto;
      background-position: -895px -280px;
      width: 130px;
      height: 130px; }
    .beginQuest .levelInfoContainer .elf {
      background-position: -895px -280px;
      width: 130px;
      height: 130px; }
    .beginQuest .levelInfoContainer .man {
      background-position: -725px -280px;
      width: 130px;
      height: 130px; }
    .beginQuest .levelInfoContainer .dwarf {
      background-position: -280px -505px;
      width: 130px;
      height: 130px; }
    .beginQuest .levelInfoContainer .hobbit {
      background-position: -820px -510px;
      width: 130px;
      height: 130px; }

.backgroundChange {
  background-color: #FFFEFB;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.individualRunContainer {
  float: none;
  margin: auto; }

.individualRunLegend {
  text-align: center;
  font-size: 2em; }

.individualRun {
  display: inline-block;
  width: 49%;
  font-size: 1.25em; }
  .individualRun ul {
    list-style: none; }

.panel {
  border-color: #cfd9D7;
  border-radius: 2px; }

.panel-body {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #E1DED7; }

.panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  background-color: #E1DED7;
  border-color: #cfd9db; }

.form-control {
  border-radius: 0; }

.center-form {
  width: 33%;
  margin: 2.5% auto; }

.signup-or-separator {
  color: #444;
  position: relative;
  height: 34px;
  text-align: center;
  background: none; }

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0; }

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #E1DED7; }

.titleSignIn .largeTitle h1 {
  display: inline-block; }
.titleSignIn .smallTitle {
  display: inline-block; }
.titleSignIn .signup-or-separator {
  height: 5px; }
.titleSignIn h1 {
  font-size: 4em; }
.titleSignIn hr {
  margin: 30px auto 0px auto; }

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555; }

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px; }

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px; }

[class^='ion-'] {
  font-size: 1.2em; }

.has-feedback .form-control {
  padding-left: 42.5px; }

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none; }

.profile-picture {
  display: inline-block;
  height: 250px;
  vertical-align: top; }

.cancelProfileUpdate {
  float: right;
  margin-top: -40px; }

.progressArea {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px; }

.progress-bar {
  background-color: #B04B3A; }

.progress {
  margin-bottom: 0px;
  clear: both; }

.progressText {
  font-weight: bold; }

.leaderboardContainer {
  margin: auto;
  float: none; }

.modal-backdrop.am-fade {
  opacity: .5;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
  -webkit-transition: opacity .15s linear;
          transition: opacity .15s linear; }
  .modal-backdrop.am-fade.ng-enter {
    opacity: 0; }
    .modal-backdrop.am-fade.ng-enter.ng-enter-active {
      opacity: .5; }
  .modal-backdrop.am-fade.ng-leave {
    opacity: .5; }
    .modal-backdrop.am-fade.ng-leave.ng-leave-active {
      opacity: 0; }

.modal-content {
  background-color: #E1DED7; }
  .modal-content .modal-header {
    border-color: #393834; }
  .modal-content .modal-footer {
    border-color: #393834; }

.previewView {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .previewView div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
    .previewView div img {
      border: 3px #393834 solid; }
    .previewView div:nth-of-type(2) {
      -webkit-box-flex: 20;
      -webkit-flex: 20;
          -ms-flex: 20;
              flex: 20; }
    .previewView div img {
      max-width: 90%;
      width: auto;
      height: auto; }

.previewCaption {
  text-align: center; }
  .previewCaption h4 {
    margin: 40px; }

.altPreview {
  text-align: center;
  display: none;
  margin-top: 20px; }
  .altPreview a {
    margin: 0 10px; }

.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 15px; }

.btn-primary {
  background-color: #4285f4; }

.btn-primary:hover {
  background-color: #3367d6; }

.btn-success, .btn-success[disabled] {
  background-color: #AAB673;
  border-color: #AAB673; }
  .btn-success:hover, .btn-success[disabled]:hover {
    background-color: #969C6C;
    border-color: #969C6C; }

.btn-danger {
  background-color: #B04C3B;
  border-color: #B04C3B; }

.btn-danger:hover {
  background-color: #82311F;
  border-color: #82311F; }

.btn-group-vertical .btn {
  margin-bottom: 10px; }

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 2px; }

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 2px; }

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 2px; }

.btn-lg {
  font-size: 14px; }

.btn [class^='ion-'] {
  margin-right: 5px; }

.btn .fa {
  margin-right: 5px; }

/*********************
* Media Queries
*********************/
@media screen and (max-width: 1040px) {
  .col-sm-7 {
    width: 100%; }

  .col-sm-5 {
    width: 100%; } }
@media screen and (max-width: 900px) {
  .navbar-header {
    float: none;
    width: 100%;
    padding-left: 0;
    background-color: #884D22;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

  .leaderboardContainer {
    width: 100%; }

  .navbar-default .navbar-brand {
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #884D22; }
    .navbar-default .navbar-brand img {
      max-width: 525px;
      width: 100%;
      height: auto;
      margin: auto; } }
@media screen and (max-width: 767px) {
  .individualRunContainer {
    margin: 0px 15px 0px 15px; } }
@media screen and (max-width: 650px) {
  .navbar-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar-header .titleNavbar {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
          -ms-flex: 3;
              flex: 3; }
    .navbar-header .fa-bars {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }

  .navbar-default {
    height: 100px; }

  .navbar-default .navbar-brand img {
    max-width: 525px;
    width: 100%;
    height: auto;
    display: inline-block; }

  .mainMenuOptions {
    display: none; }

  map {
    width: 90%;
    height: 500px; }

  .fa-3x {
    font-size: 2em; } }
@media screen and (max-width: 505px) {
  .titleSignIn h4 {
    font-size: 0.75em; }
  .titleSignIn .smallTitle h4 {
    font-size: 0.4em;
    margin: 5px 0 0 0; }

  .logInContainer {
    padding-top: 20px; }
    .logInContainer h1 {
      font-size: 1.5em; }
    .logInContainer .row {
      top: 0;
      -webkit-transform: none;
              transform: none; }
    .logInContainer .form-group {
      width: 90%; }
    .logInContainer h2 {
      font-size: 1.25em; }
    .logInContainer h4 {
      font-size: 1em; }
    .logInContainer .signup-or-separator .text {
      font-size: 0.5em; }
    .logInContainer p {
      font-size: 0.8em; }
    .logInContainer .btn-success, .logInContainer .mainSignUpButton {
      width: 90%; }

  .password-strength-indicator {
    top: 5px; }

  .input-lg {
    font-size: 1em;
    height: 34px; }

  .has-feedback .form-control-feedback {
    width: 34px;
    height: 34px;
    line-height: 34px; }

  .profileInfoText ul {
    padding: 20px 0 0 0; }

  .achievementsList {
    padding: 0; }

  .leaderboardList {
    padding: 0; }
    .leaderboardList li span {
      display: block; }

  .beginQuest .levelInfoContainer {
    margin: 25px 0px 0px 0px; }
    .beginQuest .levelInfoContainer .levelInfo {
      padding: 0px; }
    .beginQuest .levelInfoContainer h1 {
      font-size: 2em; }
    .beginQuest .levelInfoContainer h5 {
      font-size: 1em; }
    .beginQuest .levelInfoContainer p {
      font-size: 0.8em; }

  .recentRunContainerKey {
    margin: auto; }
    .recentRunContainerKey a {
      font-size: 0.8em; }

  list-run a {
    padding-left: 0;
    padding-right: 0;
    font-size: 0.8em; }

  .altPreview {
    display: block; }

  .previewView div:nth-of-type(odd) {
    display: none; }

  .previewCaption h4 {
    margin: 20px;
    font-size: 1em; } }
@media screen and (min-width: 651px) {
  .mainMenuOptions {
    display: block; }

  .smallMainMenuOptions {
    display: none; }

  .fa-bars {
    display: none; } }
/*********************
* Animations
*********************/
.fadeZoom.ng-enter {
  -webkit-animation-duration: 0.2, 0.2s;
          animation-duration: 0.2, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
          animation-name: fadeIn, zoomIn; }

.fadeZoomFadeDown.ng-enter {
  -webkit-animation-duration: 0.2s, 0.2s;
          animation-duration: 0.2s, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
          animation-name: fadeIn, zoomIn; }

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.2s;
          animation: fadeOutDown 0.2s; }

.rotatedMenu {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
.showMenu {
  background-color: #DBCDAA;
  opacity: 1;
  top: 0px;
  -webkit-transition: all 500ms ease-out;
          transition: all 500ms ease-out; }
