<ng-include src="'home/views/navbar.html'"></ng-include>

<div class="container">
  <div class="row">
    <div class="col-sm-10 beginQuest">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Select Your Character to Begin the Quest</h2>
          <hr>
          <div class="levelContainer">
            <a href="#/profile" ng-click="updateDifficulty('Wizard')">
              <div class="levelInfoContainer">
                <div class="levelInfo">
                  <div class="wizard"></div>
                </div>
                <div class="levelInfo">
                  <h1>Wizard</h1><p>(1 mile = 10 Middle Earth miles)</p>
                </div>
              </div>
            </a>
            <a href="#/profile" ng-click="updateDifficulty('Elf')">
              <div class="levelInfoContainer">
                <div class="levelInfo">
                  <div class="elf"></div>
                </div>
                <div class="levelInfo">
                  <h1>Elf</h1><p>(1 mile = 5 Middle Earth miles)</p>
                </div>
              </div>
            </a>
            <a href="#/profile" ng-click="updateDifficulty('Man')">
              <div class="levelInfoContainer">
                <div class="levelInfo">
                  <div class="man"></div>
                </div>
                <div class="levelInfo">
                  <h1>Man</h1><p>(1 mile = 3 Middle Earth miles)</p>
                </div>
              </div>
            </a>
            <a href="#/profile" ng-click="updateDifficulty('Dwarf')">
              <div class="levelInfoContainer">
                <div class="levelInfo">
                  <div class="dwarf"></div>
                </div>
                <div class="levelInfo">
                  <h1>Dwarf</h1><p>(1 mile = 2 Middle Earth miles)</p>
                </div>
              </div>
            </a>
            <a href="#/profile" ng-click="updateDifficulty('Hobbit')">
              <div class="levelInfoContainer">
                <div class="levelInfo">
                  <div class="hobbit"></div>
                </div>
                <div class="levelInfo">
                  <h1>Hobbit</h1><p>(1 mile = 1 Middle Earth miles)</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
