<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend class="individualRunLegend">RUN TITLE{{el.title}}</legend>
        <div class="individualRun">
          <ul>
            <li>Date: {{el.date}}</li>
            <li>Calories: {{el.calories}}</li>
            <li>Elevation: {{el.elevation}}</li>
          </ul>
        </div>
        <div class="individualRun">
          <ul>
            <li>Distance: {{el.distance}}</li>
            <li>Time: {{el.time}}</li>
            <li>Price: {{el.pace}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
