<ng-include src="'home/views/navbar.html'"></ng-include>

<div class="row">
  <div class="col-sm-8 individualRunContainer">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend class="individualRunLegend">{{run.title}}</legend>
        <div class="individualRun">
          <ul>
            <li>Date: {{run.date | date}}</li>
            <li>Location: {{run.location}}</li>
            <li>Elevation: {{run.elevation | number : 0}} feet</li>
          </ul>
        </div>
        <div class="individualRun">
          <ul>
            <li>Distance: {{run.distance | number : 2}} miles</li>
            <li>Time: {{run.time | secondsToDateTime | date: 'HH:mm:ss'}}</li>
            <li>Pace: {{run.pace | secondsToDateTime | date: 'mm:ss'}} / mile</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
