<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <legend>All My Runs</legend>
          <div class="recentRunContainerKey">
            <div ng-if="sortSelected !== '-date' && sortSelected !== 'date'">
              <a href="" ng-click="selectSort('-date')">Date <i class="fa fa-sort"></i></a>
            </div>
            <div ng-if="sortSelected === '-date'">
              <a href="" ng-click="selectSort('date')">Date <i class="fa fa-sort-desc"></i></a>
            </div>
            <div ng-if="sortSelected === 'date'">
              <a href="" ng-click="selectSort('-date')">Date <i class="fa fa-sort-asc"></i></a>
            </div>
            <div ng-if="sortSelected !== '-distance' && sortSelected !== 'distance'">
              <a href="" ng-click="selectSort('-distance')">Distance <i class="fa fa-sort"></i></a>
            </div>
            <div ng-if="sortSelected === '-distance'">
              <a href="" ng-click="selectSort('distance')">Distance <i class="fa fa-sort-desc"></i></a>
            </div>
            <div ng-if="sortSelected === 'distance'">
              <a href="" ng-click="selectSort('-distance')">Distance <i class="fa fa-sort-asc"></i></a>
            </div>
            <div ng-if="sortSelected !== '-time' && sortSelected !== 'time'">
              <a href="" ng-click="selectSort('-time')">Time <i class="fa fa-sort"></i></a>
            </div>
            <div ng-if="sortSelected === '-time'">
              <a href="" ng-click="selectSort('time')">Time <i class="fa fa-sort-desc"></i></a>
            </div>
            <div ng-if="sortSelected === 'time'">
              <a href="" ng-click="selectSort('-time')">Time <i class="fa fa-sort-asc"></i></a>
            </div>
            <div ng-if="sortSelected !== '-pace' && sortSelected !== 'pace'">
              <a href="" ng-click="selectSort('-pace')">Pace <i class="fa fa-sort"></i></a>
            </div>
            <div ng-if="sortSelected === '-pace'">
              <a href="" ng-click="selectSort('pace')">Pace <i class="fa fa-sort-desc"></i></a>
            </div>
            <div ng-if="sortSelected === 'pace'">
              <a href="" ng-click="selectSort('-pace')">Pace <i class="fa fa-sort-asc"></i></a>
            </div>
          </div>
          <hr>
          <list-run ng-repeat="el in runs | orderBy: sortSelected" i="el"></list-run>
        </div>
      </div>
    </div>
  </div>
</div>
