@import "partials/auth";

$background-color: #969B6E;
$sign-in-color: #E1DED7;
$main-font-color: #393834;
$stravaOrange: #FC4C02;
$panelColor: #E1DED7;
$materialDesignLevelOneShadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$materialDesignLevelTwoShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

html{
  height:100%;
  width:100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $background-color;
  height: 100vh;
  width:100%;
  color: $main-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  color: $main-font-color;
}

/*Remove this when back online*/
.mapContainer img{
  display:block;
  width:98%;
  margin:auto;
}
/*End remove section*/

#middle-earth-video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.tagline{
  font-style: italic;
  font-family: 'Cinzel Decorative', cursive;
  li{
    padding: 25px 15px 5px 15px;
  }
}

map{
  height:800px;
  width: 98%;
  margin:auto;
  border: 5px solid #444;
  box-shadow: $materialDesignLevelTwoShadow;
}

.container{
  width: 100%;
}

.logInContainer{
  position: absolute;
  height:100%;
  top: 0px;
  padding-top: 200px;
  text-align: center;
  color: $sign-in-color;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  .center-form{
    background-color:transparent;
    width:75%;
  }
  .row{
    position: relative;
    top: 50%;
    transform: translateY(-70%);
  }
  h1, h2, h3, h4, h5{
    font-family: 'Cinzel Decorative', cursive;
  }
  a{
    color: $sign-in-color;
  }
  p{
    margin:5px;
  }
  .form-group{
    width:50%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
  }
  .mainLoginButton{
    width:90%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    opacity: 1;
  }
  .mainSignUpButton{
    width:50%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    opacity: 1;
    background-color: #718EA1;
    border-color: #718EA1;
    &:hover{
      background-color: #526A7A;
      border-color: #526A7A;
    }
  }
  .btn-success{
    width: 50%;
  }
}

.stravaLogin{
  padding:10px;
}

.middleEarthMap img{
  width:100%;
}

.profileInfoText{
  display: inline-block;
  h2{
    margin-top: 0;
  }
  ul{
    list-style: none;
  }
  .btn{
    margin-top: 15px;
  }
}

.btn-stravaLink{
  background-color: $stravaOrange;
  color: #FFF;
  border: 1px solid $stravaOrange;
  border-radius: 2px;
  &:hover{
    background-color: #C93D02;
    border-color: #C93D02;
    color: #FFF;
  }
}

.achievementsList{
  display:inline-block;
  list-style: none;
  li{
    margin-bottom: 5px;
  }
}

.splitUl{
  vertical-align: top;
  width: 48%;
}

.text-muted {
  color: $main-font-color;
}

.navbar {
  border: 0;
  margin-bottom: 20px;
}

.navbar-header {
  float: left;
  padding-left: 15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-default .navbar-nav > li > a {
  color: #864D2B;
  padding: 15px;
  &:hover{
    color: #444;
  }
}

.navbar-default {
  color: #fff;
  background: #DBCDAC;
  box-shadow: $materialDesignLevelTwoShadow;
}

.navbar-default .navbar-brand {
  color: #fff;
  img{
    height:51px;
    width:auto;
  }
}

.navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: #864D2B;
}

.navbar-brand {
  padding:0px;
  margin-left: -15px;
  transition: 0.25s all;
}

.titleNavbar{
  p{
    font-size: 1.2em;
    margin-bottom: 0;
    display:inline-block;
  }
  .smallTitleNavbar{
    display:inline-block;
    p{
      font-size: 0.8em;
    }
  }
}

.smallMainMenuOptions{
  z-index: -1;
  opacity: 0;
  position: relative;
  top: -400px;
  box-shadow: $materialDesignLevelTwoShadow;
  transition: all 500ms ease-in;
  ul{
    list-style: none;
    padding:10px 5px 10px 5px;
    li{
      font-size: 1.5em;
      padding:15px;
      margin:auto;
    }
    a{
      color: #864D2B;
      &:hover{
        color: #444;
        text-decoration: none;
      }
    }
  }
}

.fa-bars{
  color: #E0DDD6;
  float:right;
  padding:15px 15px 15px 15px;
  &:hover{
    color:#FFF;
  }
}

legend{
  border-bottom: 1px solid #444;
}

hr{
  height: 1px;
  border: 0px;
  background-color: #444;
  margin: 5px 0px 5px 0px;
}

.recentRunContainerKey{
  display:block;
  margin: 0px 30px 0px 30px;
  div{
    display:inline-block;
    width: 24%;
  }
}

list-run a{
  display: block;
  padding: 10px 30px 10px 30px;
    &:hover{
    text-decoration: none;
  }
  div{
    display:inline-block;
    width: 24%;
  }
}

.beginQuest{
  float: none;
  margin: auto;
  h2{
    text-align: center;
  }
  a{
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    &:hover{
      color: #428bca;
    }
  }
  .levelContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .levelInfoContainer{
    margin:25px;
    display:flex;
    justify-content: center;
    padding: 10px;
    margin-top: 25px;
    border: 3px $main-font-color solid;
    transition: all 0.25s ease-in-out;
    &:hover{
      background-color: #FFFEFB;
      box-shadow: $materialDesignLevelTwoShadow;
    }
    .levelInfo{
      align-self: center;
      padding:10px;
      img{
        height:150px;
        width:auto;
      }
    }
    .elf, .man, .dwarf, .hobbit{
      background-image: url(../../assets/the-lord-of-the-rings-vectors-the-fellowship-of-the-ring-nine-companions.png);
      background-repeat: no-repeat;
      margin: auto;
      // border: 1px solid black;
    }
    .wizard{
      background-image: url(../../assets/the-hobbit-vectors-main-characters.png);
      background-repeat: no-repeat;
      margin: auto;
      background-position: -895px -280px;
      width: 130px;
      height: 130px;
      // border: 1px solid black;
    }
    .elf{
      background-position: -895px -280px;
      width: 130px;
      height: 130px;
    }
    .man{
      background-position: -725px -280px;
      width: 130px;
      height: 130px;
    }
    .dwarf{
      background-position: -280px -505px;
      width: 130px;
      height: 130px;
    }
    .hobbit{
      background-position: -820px -510px;
      width: 130px;
      height: 130px;
    }
  }
}

.backgroundChange{
  background-color: #FFFEFB;
  box-shadow: $materialDesignLevelOneShadow;
}

.individualRunContainer{
  float:none;
  margin: auto;
}

.individualRunLegend{
  text-align: center;
  font-size: 2em;
}

.individualRun{
  display:inline-block;
  width: 49%;
  font-size: 1.25em;
  ul{
    list-style: none;
  }
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
}

.panel-body{
  box-shadow: $materialDesignLevelTwoShadow;
  background-color: $panelColor;
}

.panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  background-color: $panelColor;
  border-color: #cfd9db;
}

.form-control {
  border-radius: 0;
}

.center-form {
  width: 33%;
  margin: 2.5% auto;
}

.signup-or-separator {
  color:#444;
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: $panelColor;
}

.titleSignIn{
  .largeTitle h1{
    display:inline-block;
  }
  .smallTitle{
    display:inline-block;
  }
  .signup-or-separator{
    height: 5px;
  }
  h1{
    font-size: 4em;
  }
  hr{
    margin:30px auto 0px auto;
  }
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
}

.profile-picture {
  display: inline-block;
  height: 250px;
  vertical-align: top;
}

.cancelProfileUpdate{
  float:right;
  margin-top: -40px;
}

.progressArea{
  width:80%;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
}

.progress-bar{
  background-color: #B04B3A;
}

.progress{
  margin-bottom: 0px;
  clear:both;
}

.progressText{
  font-weight: bold;
}

.leaderboardContainer{
  margin:auto;
  float:none;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition-delay: 3s;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.modal-content{
  background-color: $panelColor;
  .modal-header{
    border-color: $main-font-color;
  }
  .modal-footer{
    border-color: $main-font-color;
  }
}

.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: $materialDesignLevelTwoShadow;
  margin-right:15px;
}

.btn-primary {
  background-color: #4285f4;
}

.btn-primary:hover {
  background-color: #3367d6;
}

.btn-success, .btn-success[disabled] {
  background-color: #AAB673;
  border-color: #AAB673;
  &:hover{
    background-color: #969C6C;
    border-color: #969C6C;
  }
}

.btn-danger {
  background-color: #B04C3B;
  border-color: #B04C3B;
}

.btn-danger:hover {
  background-color: #82311F;
  border-color: #82311F;
}

.btn-group-vertical .btn {
  margin-bottom: 10px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 2px;
}

.btn-lg {
  font-size: 14px;
}

.btn [class^='ion-'] {
  margin-right: 5px;
}

.btn .fa {
  margin-right: 5px;
}

/*********************
* Social Buttons
*********************/

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: #fff;
  background-color: #0069a4;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}

.btn-foursquare {
  color: #fff;
  background-color: #f94877;
  border: 1px solid #f8215a;
}

.btn-foursquare:hover,
.btn-foursquare:focus {
  color: #fff;
  background-color: #f71752;
}

.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
  background-color: #303030;
}

.btn-yahoo {
  color: #fff;
  background-color: #720e9e;
  border: 1px solid #580b75;
}

.btn-yahoo:hover,
.btn-yahoo:focus {
  color: #fff;
  background-color: #303030;
}

.btn-live {
  color: #fff;
  background-color: #2672ec;
}

.btn-live:hover,
.btn-live:focus {
  color: #fff;
  background-color: #125acd;
}

/*********************
* Media Queries
*********************/

@media screen and (max-width: 1040px){
  .col-sm-7{
    width:100%;
  }
  .col-sm-5{
    width:100%;
  }
}

@media screen and (max-width: 900px){
  .navbar-header{
    float:none;
    width:100%;
    padding-left:0;
    background-color: #884D22;
    box-shadow: $materialDesignLevelTwoShadow
  }

  .leaderboardContainer{
    width: 100%;
  }

  .navbar-default .navbar-brand{
    width:100%;
    margin:auto;
    height:auto;
    background-color: #884D22;
    img{
      max-width: 525px;
      width:100%;
      height:auto;
      margin:auto;
    }
  }
}

@media screen and (max-width: 767px){
  .individualRunContainer{
    margin: 0px 15px 0px 15px;
  }
}

@media screen and (max-width: 650px){
  .navbar-header{
    display:flex;
    align-items: center;
    .titleNavbar{
      flex: 3;
    }
    .fa-bars{
      flex:1;
    }
  }
  .navbar-default{
    height:100px;
  }
  .navbar-default .navbar-brand{
     img{
      max-width: 525px;
      width:100%;
      height:auto;
      display:inline-block;
    }
  }
  .mainMenuOptions{
    display:none;
  }
}

@media screen and (min-width: 651px){
  .mainMenuOptions{
    display:block;
  }
  .smallMainMenuOptions{
    display:none;
  }
  .fa-bars{
    display:none;
  }
}

/*********************
* Animations
*********************/

.fadeZoom.ng-enter {
  animation-duration: 0.2, 0.2s;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-enter {
  animation-duration: 0.2s, 0.2s;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-leave {
  animation: fadeOutDown 0.2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

.showMenu{
  background-color: #DBCDAA;
  opacity:1;
  top: 0px;
  transition: all 500ms ease-out;
}
